---
import { HeroProps } from "@types";

const { name, about } = Astro.props as HeroProps;
---

<section class="mt-[117px]">
  <p class="text-white w-fit rounded-lg px-4 py-2 bg-mauve">¡Hey! 👋🏼, yo soy...</p>
  <h1>{name}</h1>
  <p class="text-lg mb-16">
    {about}
  </p>
</section>
