---
import { ILink } from "@types";
const { title, href, ...props } = Astro.props as ILink;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="ml-2 flex cursor-pointer items-center justify-center rounded-lg bg-slate-300 p-3 text-dark hover:bg-blue"
  {...props}
>
  <div>
    <slot />
  </div>
  {title && <span class="pl-2 font-bold text-dark">{title}</span>}
</a>
