---
import { ILink } from "@types";
const { title, href, ...attrs } = Astro.props as ILink;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="ml-2 flex cursor-pointer items-center justify-center rounded-lg bg-sky-300 p-3 text-dark hover:bg-indigo-300 dark:bg-blue dark:hover:bg-lavender"
  {...attrs}
>
  <div>
    <slot />
  </div>
  {title && <span class="pl-2 text-lg font-bold text-dark">{title}</span>}
</a>
