---
import { ILink } from "@types";
const { title, href, ...attrs } = Astro.props as ILink;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="ml-2 flex w-fit cursor-pointer items-center justify-center rounded-lg bg-mauve p-2 text-white hover:bg-maroon"
  {...attrs}
>
  <div>
    <slot />
  </div>
  {title && <span class="pl-2 capitalize">{title}</span>}
</a>
