---
import { information } from "@data";
import { createLogo } from "@utils";
import { sun, mun } from "@assets";
import NavItem from "@components/NavItem.astro";
import LinkItem from "@components/LinkItem.astro";
---

<header
  class="container flex h-[80px] items-center justify-between sm:h-[123px]"
>
  <a class="font-outfit text-2xl font-semibold" href="/"
    >{createLogo(information.name)}.
  </a>
  <nav class="flex items-center">
    <button
      id="dropdownButton"
      data-dropdown-toggle="dropdown"
      class="order-first ml-2 flex items-center rounded-lg bg-slate-200 p-4 focus:outline-none focus:ring focus:ring-sky-300 md:order-last md:hidden"
      type="button"
    >
      <svg
        class="h-[18px] w-[18px] fill-current"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><title>Menu</title><path
          d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg
      >
    </button>
    <!-- Dropdown menu -->
    <div
      id="dropdown"
      class="right-4 z-10 hidden w-56 origin-top-right translate-y-36 rounded-lg bg-base px-4 shadow-lg ring-1 ring-black ring-opacity-5 md:mt-0 md:flex md:w-auto md:translate-x-0 md:translate-y-0 md:items-center md:shadow-none md:ring-0"
    >
      <ul class="flex flex-col items-center gap-4 md:w-auto md:flex-row">
        <NavItem text="Experiencia" link="#experience" />
        <NavItem text="Educación" link="#education" />
        <NavItem text="Habilidades" link="#skills" />
        <NavItem text="Proyectos" link="#projects" />
        <NavItem text="Contacto" link="#contact" />
      </ul>
    </div>
    <LinkItem id="theme-button" title="Dark mode">
      <div id="theme-icon" class="order-first text-dark md:order-last"></div>
    </LinkItem>
  </nav>
</header>

<script is:inline define:vars={{ sun, mun }}>
  const themeButton = document.getElementById("theme-button");
  const themeButtonIcon = document.getElementById("theme-icon");
  const themeButtonText = document.querySelector("#theme-button > span");
  const themeBodyClass = document.body;
  const browserTheme = document.querySelector('[name="theme-color"]');
  let isLight;

  themeButtonText.classList.add("capitalize");

  const setDocumentAttributes = (dataTheme, themeIcon) => {
    isLight = dataTheme === "light";
    browserTheme.content = isLight ? "#EFF1F5" : "#1E1E2E";
    themeButtonText.textContent = dataTheme;
    themeButtonIcon.innerHTML = themeIcon;
  };

  const getInitialTheme = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  };

  const applyTheme = (theme) => {
    setDocumentAttributes(theme, theme === "light" ? sun : mun);
    themeBodyClass.classList.toggle("dark", !isLight);
    themeBodyClass.classList.toggle("mocha", !isLight);
  };

  const toggleTheme = () => {
    const newTheme = isLight ? "dark" : "light";
    localStorage.setItem("theme", newTheme);
    applyTheme(newTheme);
  };

  themeButton.addEventListener("click", toggleTheme);

  // Initialize the theme
  const initialTheme = getInitialTheme();
  applyTheme(initialTheme);
</script>

<script is:inline>
  const dropdownButton = document.getElementById("dropdownButton");
  const menu = document.getElementById("dropdown");
  dropdownButton.addEventListener("click", () => {
    if (menu.classList.contains("hidden")) {
      menu.classList.replace("hidden", "absolute");
    } else {
      menu.classList.replace("absolute", "hidden");
    }
  });
</script>
