---
import { information } from "@data";
import { createLogo } from "@utils/CreateLogo";
import { MenuIcon } from "@assets";
import NavItem from "@components/NavItem.astro";
import LinkItem from "@components/LinkItem.astro";
---

<header
  class="container flex h-[80px] items-center justify-between sm:h-[123px]"
>
  <a class="font-outfit text-2xl font-semibold" href="/"
    >{createLogo(information.name)}.
  </a>
  <nav class="flex items-center">
    <button
      id="dropdownButton"
      data-dropdown-toggle="dropdown"
      aria-label="Menu button"
      class="order-first ml-2 flex items-center rounded-lg bg-slate-200 p-4 focus:outline-none focus:ring focus:ring-sky-300 md:order-last md:hidden"
      type="button"
    >
      <Fragment set:html={MenuIcon} />
    </button>
    <!-- Dropdown menu -->
    <div
      id="dropdown"
      class="bg-base dark:bg-surface0 right-4 z-10 hidden w-56 origin-top-right translate-y-36 rounded-lg px-4 shadow-lg ring-1 ring-black ring-opacity-5 md:mt-0 md:flex md:w-auto md:translate-x-0 md:translate-y-0 md:items-center md:shadow-none md:ring-0"
    >
      <ul class="flex flex-col items-center md:w-auto md:flex-row md:gap-4">
        <NavItem text="Experiencia" link="#experience" />
        <NavItem text="Educación" link="#education" />
        <NavItem text="Habilidades" link="#skills" />
        <NavItem text="Proyectos" link="#projects" />
        <NavItem text="Contacto" link="#contact" />
      </ul>
    </div>
    <LinkItem
      id="theme-button"
      title="toggle"
      aria-label="Dark mode toggler button"
    >
      <div id="theme-icon" class="order-first md:order-last"></div>
    </LinkItem>
  </nav>
</header>

<script>
  import { ThemeToggler } from "@utils/ThemeToggler";
  const themeButton: HTMLElement = document.getElementById("theme-button");
  const themeButtonIcon: HTMLElement = document.getElementById("theme-icon");
  const themeButtonText: HTMLElement = document.querySelector(
    "#theme-button > span",
  );
  const themeBodyClass: HTMLElement = document.querySelector("html");
  const browserTheme: HTMLMetaElement = document.querySelector(
    '[name="theme-color"]',
  );

  new ThemeToggler(
    themeButton,
    themeButtonIcon,
    themeButtonText,
    themeBodyClass,
    browserTheme,
  );
</script>

<script>
  const dropdownButton = document.getElementById("dropdownButton");
  const menu = document.getElementById("dropdown");

  dropdownButton.addEventListener("click", () => {
    menu.classList.toggle("hidden");
    menu.classList.toggle("absolute");
  });
</script>
