---
import { NavItemProps } from "@types";

const { text, link } = Astro.props as NavItemProps;
---

<li>
  <a
    class="hover-underline-animation py-4 text-lg decoration-blue decoration-4 underline-offset-8 hover:underline md:py-4"
    href={link}>{text}</a
  >
</li>
