---
import { NavItemProps } from "@types";

const { text, link } = Astro.props as NavItemProps;
---

<li>
  <a
    class="hover-underline-animation flex py-2 text-lg decoration-blue decoration-8 underline-offset-8 hover:underline md:py-3"
    href={link}>{text}</a
  >
</li>
