---
const { title, ...attrs } = Astro.props as { title: string };
---

<section
  class="flex flex-col items-start justify-between sm:flex-row"
  {...attrs}
>
  <h2 class="mt-16 w-[15rem] uppercase text-maroon">{title}</h2>
  <div class="w-full">
    <slot />
  </div>
</section>
